[Unit]
Description=lighttpd service used during Rocks installation
Before=anaconda-pre.service
Requires=basic.target
After=basic.target

[Service]
Type=forking
PIDFile=/var/run/lighttpd.pid
ExecStart=/lighttpd/sbin/lighttpd -f /lighttpd/conf/lighttpd.conf
ExecStartPre=/lib/dracut/modules.d/70rocks/start-lighttpd-systemd.sh
Restart=on-abort

[Install]
WantedBy=anaconda.target
