[Unit]
Description=Rocks Partitioning Processing 
After=anaconda-pre.service
Requires=basic.target
Before=anaconda.service

[Service]
Type=oneshot
ExecStart=/lib/dracut/modules.d/70rocks/rockspart.sh

[Install]
WantedBy=anaconda.target
